@{
    ViewData["Title"] = "About EfficiencyHub";
}   

<div class="container">
        <h1>About EfficiencyHub</h1>
        <p class="intro">
            EfficiencyHub is a comprehensive tool for managing projects and tasks, designed to help teams stay organized and meet their goals.
        </p>
        <br /><br />
        <h2>Our Mission</h2>
        <p>Our mission is to provide an efficient and user-friendly platform that empowers teams to work smarter, not harder.</p>
        <br /><br />
       
        <h2>Features</h2>
        <ul class="features-list">
            <li><strong>Project Management:</strong> Organize and manage multiple projects with ease.</li>
            <li><strong>Task Tracking:</strong> Keep track of your tasks and deadlines in real-time.</li>
            <li><strong>Reminders:</strong> To stay on top of important tasks.</li>
            <li><strong>Performance Reports:</strong> Monitor productivity and optimize workflows.</li>
        </ul>

        <br /><br />
        <h2>Contact Us</h2>
    <p>If you have any questions or feedback, feel free to contact us: <a href="mailto:petrovkunev@gmail.com">petrovkunev@gmail.com</a> </p>
</div>

