@{
    ViewData["Title"] = "EfficiencyHub";
}

<div class="text-center">
    <h1 class="display-4">Manage Your Tasks Easily and Efficiently</h1><br>
    <h2>Plan, organize, and track your team’s work in real time</h2><br><br><br>
    <p>Our task and project management application is designed to help teams work more organized and effectively. Whether you're managing a small project or a large-scale initiative, our platform provides everything you need to better manage time and resources.</p>
</div>
